/* Header.css */

nav {
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 0px;
    position: fixed;
}

nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

nav ul li {
    margin: 0 15px;
    position: relative;
}

nav ul li a {
    color: #9a4efb;
    text-decoration: none;
    padding: 8px 12px;
    font-size: 18px;
}

/* animace */
nav a:hover {
    color : #5800ca;
    text-shadow: 0 0 10px #5800ca;
}

nav a:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #5800ca;
    transition: width 300ms;
}

nav a:hover:after {
    width: 100%;
}

/* logo */
.logo {
    height: 50px;
}

.logo img {
    height: 200%;
    padding-left: 2vw;
    padding-top: 1vh;
}

/* hamburger */
.hamburger {
    display: none; 
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 15px;
    z-index: 10; 
}

svg{
    width: 3.5rem;
    height: auto;
}

.hide-logo {
    transition: 0.3s;
    display: none;
}

/* phone  */
@media screen and (max-width: 768px) {
    *{
        transition: 0.3s;
    }

    .hamburger {
        display: flex;
    }
    nav ul a {
        font-size: 20px;
        padding: 9px 13px;
    }

    nav ul {
        display: none;
    }

    nav ul.active {
        display: flex;
        flex-direction: column;
        background: #000000;
        position: absolute;
        top: 0;
        padding-top: 60px;
        width: 100%;
        padding-left: 0;
        margin: 0;
    }

    nav ul.active li {
        margin: 10px 0;
    }

    nav ul.active li a {
        font-size: 20px;
    }
}
